@import "./variables.scss";

.content {
  padding: 60px 50px 120px 50px;

  // height: calc(100vh - 77px);
}

.title {
  font-size: 3em;
  overflow-wrap: break-word;
  text-align: center;
  // color: $us-secondary-1;   // test
}

.gradient_text {
  background: linear-gradient(45deg, $us-accent-1, $us-accent-3, $us-accent-1);
  background-size: 400%;
  color: transparent;
  // -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-right 6s linear infinite;
}

@keyframes move-right {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}
