@import "../styles/variables";

.Navbar {
  display: flex;
  padding: 20px 40px 20px 25px;
  background-color: $us-secondary-1;

  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;

  align-items: center;
}

.unispaces {
  color: white;
  font-size: 1.7em;
  font-weight: 700;

  margin-left: 15px;
}

.userBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 160px;

  white-space: nowrap;
}
