@import "./variables.scss";

.container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.input_wrapper {
  width: min-content;
  position: relative;
}

.input_wrapper img {
  position: absolute;
  right: 20px;
  top: calc((1.2em + 40px) / 4);
}

.input {
  font-size: 1.2em;
  padding: 20px 80px 20px 30px;
  border-radius: 1000px;
  
  border: 1.5px solid gray;
}

.input:focus {
  outline: 1.5px solid $us-secondary-1;
}
