@import "../styles/variables.scss";

.content {
  padding: 40px 200px 60px 200px;
  display: flex;
  justify-content: center;
}

.modal {
  width: 450px;
  background-color: white;
  border-radius: 30px;
  padding: 40px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.unispaces {
  margin: 0;
  font-family: "Lora", serif;
  letter-spacing: 0.5px;
}

.title {
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 7px;
}

.subtitle {
  font-weight: 400;
  font-size: 1.2em;

  margin-bottom: 20px;
}

.bottom {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create_account {
  color: $us-secondary-1;
}
