$us-bg-1: rgb(240, 240, 240);
$us-secondary-1: rgb(0, 0, 84);
$us-accent-1: rgb(255, 77, 77);
$us-accent-2: rgb(194, 108, 255);
$us-accent-3: rgb(255, 182, 73);
$us-light-accent-1: rgb(255, 238, 238);
$us-light-secondary-1: rgba(0, 0, 84, 0.1);
$us-light-secondary-2: rgba(0, 0, 84, 0.3);
$us-accent-1-trans: rgba(255, 77, 77, 0.5);
$us-accent-2-trans: rgba(194, 108, 255, 0.4);
$us-accent-3-trans: rgba(255, 182, 73, 0.4);
